<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transacciones Personales</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/personalbanking.css') }}">
</head>
<body>
    <div class="transactions-container">
        <h1>Transacciones Personales</h1>
        <div class="button-group">
            <button class="action-button">Consulta de Saldo Actual</button>
            <button class="action-button">Consulta de Estado de Cuenta</button>
            <button class="action-button">Realizar Transferencia</button>
            <button class="action-button">Consulta de Cuentas Asociadas</button>
            <button class="action-button">Consulta de Transacciones</button>
        </div>
    </div>
</body>
</html>
